@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  color: white;
  font-family: "Paytone One", sans-serif;
}

.container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.section_one {
  /* background-color: #ddfb65; */
  background-color: #08041a;
  flex-direction: column;
  justify-content: space-between;
}

.section_two {
  background-color: white;
}

.section_two .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section_three {
  background-color: #ddfb65;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.header:hover {
  transform: scale(1.1);
}

.event {
  font-size: 4.8rem;
  height: 5.6rem;
  width: fit-content;
  padding: 0;
}

.club {
  font-size: 0.9rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 6px;
}

.title h1 {
  height: 6.7rem;
}

.desc {
  margin-bottom: 5rem;
}

.desc p {
  font-size: 1.5rem;
}

.col_small {
  width: 40%;
  color: black;
}

.col_big {
  width: 60%;
}

.col_item {
  margin: 1rem 0 1rem 0;
}

h1 {
  font-size: 6rem;
  color: #fff560;
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
  color: black;
}

p {
  font-size: 1.3rem;
  color: white;
}

.nextbtn {
  background-color: #fff560;
  width: fit-content;
  /* margin: auto; */
  padding: 10px;
  box-shadow: 5px 5px black;
  margin-top: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nextbtn p {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.nextbtn:hover {
  transform: scale(1.1); /* Increase size on hover */
}

.col.form {
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.mb-3 {
  width: 150;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0.25rem 0rem 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-lg {
  min-height: calc(1.5em + (1rem + 2px));
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: black;
}

label {
  display: inline-block;
}

.green-text {
  color: green;
  font-size: 3rem;
}
