@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  color: white;
  font-family: "Paytone One", sans-serif;
}

.container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}

.section_one {
  /* background-color: #ddfb65; */
  background-color: #08041a;
  flex-direction: column;
  justify-content: space-between;
}

.section_two {
  background-color: white;
  width: 100%;
  flex: none;
  /* position: fixed;
  top: 0;
  left: 0; */
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.slides {
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.slides_form {
  align-self: flex-start;
  margin-top: 5rem;
}

.inactive {
  transform: translateX(-100%);
  opacity: 0;
}

.slides_result.inactive {
  transform: translateX(100%);
  opacity: 0;
}

.section_three {
  background-color: #ddfb65;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.header:hover {
  transform: scale(1.1);
}

.event {
  font-size: 4.8rem;
  height: 5.6rem;
  width: fit-content;
  padding: 0;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}

.club {
  font-size: 0.9rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 6px;
  animation: scaleAnimation 1s infinite alternate;
}

.title h1 {
  height: 6.7rem;
}

.desc {
  margin-top: 4rem;
  margin-bottom: 5rem;
  width: 50%;
}

.desc p {
  font-size: 1.5rem;
}

.col_small {
  width: 40%;
  color: black;
}

.col_big {
  width: 60%;
}

.row_item {
  margin: 1rem 1rem 1rem 1rem;
}

h1 {
  font-size: 6rem;
  color: #fff560;
}

h2 {
  color: black;
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
  color: black;
}

p {
  font-size: 1.3rem;
  color: white;
}

.slides_result p {
  color: #000;
}

.nextbtn {
  background-color: #fff560;
  width: fit-content;
  margin: auto;
  padding: 10px;
  box-shadow: 5px 5px black;
  margin-top: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #000;
  font-size: 2rem;
}

.nextbtn p {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.nextbtn:hover {
  transform: scale(1.1); /* Increase size on hover */
}

.col.form {
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}

.mb-3 {
  width: 150;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-lg {
  min-height: calc(1.5em + (1rem + 2px));
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: black;
}

label {
  display: inline-block;
}

.green-text {
  color: green;
  font-size: 7rem;
}

#total .green-text {
  font-size: 5rem;
}

#result {
  color: #000;
}

.mascot,
.mascot2 {
  z-index: 10;
}

.mascot img {
  position: absolute;
  width: 500px;
}

.mascot2 img {
  position: absolute;
  width: 400px;
  bottom: 0;
  transform: translate(-50%, 110%);
}

img#echco {
  top: 0;
  left: 0;
  transform: translateX(-35%) rotate(30deg);
}
img#imo {
  top: 0;
  right: 0;
  transform: translateX(35%) rotate(-30deg);
}
img#hacco {
  bottom: 0;
  left: 0;
  transform: translate(-35%, 35%) scaleX(-1);
}
img#techno {
  bottom: 0;
  right: 0;
  transform: translate(35%, 35%);
}

@media screen and (max-width: 768px) {
  * {
    font-size: 8px;
  }

  .section_one {
    padding-left: 10px;
    padding-right: 10px;
  }

  .title {
    letter-spacing: normal;
  }

  .slides {
    align-items: center;
  }

  .desc {
    margin-top: 0rem;
  }

  .slides button {
    margin-top: 0;
  }

  .row_item {
    text-align: center;
  }

  .col.form {
    flex-direction: column;
  }

  .form-label,
  .form-control-lg {
    font-size: 2rem;
  }

  .slides_result h2 {
    font-size: 4rem;
  }

  .slides_result h3 {
    font-size: 3.5rem;
  }

  .slides_result .green-text {
    font-size: 6rem;
  }

  .slides_result p {
    font-size: 2rem;
  }

  .mascot img {
    width: 200px;
  }

  .mascot2 {
    display: none;
  }
}

@media screen and (max-height: 380px) {
  * {
    font-size: 7px;
  }
}
