header {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
    font-size: x-large;
}

body{
    padding: 40px;

}

.col{
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}

.title{
    margin: 30;
    font-size:xx-large;
}

/* .desc{
    font-size: 20px;
    font-weight: 500;
    text-align: left;
} */


.col.form{
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mb-3{
    width: 150
}

img{
    width: 50;
}

.result{
    font-size: 90px;
    font-weight: 500;
}

.green-text {
    color: green;
}

.footer{
    display: flex;
    justify-content: space-around;
}

.ref{
    font-size: 30;
}

